<div class="main-container">
    <div class="products-producer-index">

        <% if @products.present? %>

        <% @products.each do |product| %>
        <ul class="list-products-producer-index">
        <li>Type de produit:
            <%= product.name %>
        </li>
        <li>Quantité:
            <%= product.quantity %>
            <%= product.unit %>
        </li>
        <li>Prix:
            <%= product.sale_price %>€
        </li>
      </ul>
        <%end %>

    <% else %>

        <h6>
            Aucun produit enregistré pour l'instant.
        </h6>

        <% end %>

        <%= button_to "Ajouter un produit", new_product_path, method: :get, :class => "add-product-button" %>

    </div>
</div>
